[Unit]
Description=Transparant V2ray Proxy
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/transparent_v2ray start
ExecStop=/usr/local/bin/transparent_v2ray stop

[Install]
WantedBy=multi-user.target
